@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Catalogo";
}

@section scripts{
    <script type="text/javascript" src="../javascripts/ScriptNave.js"></script>
    <link href="~/Content/ButtonONOFF.css" rel="stylesheet" type="text/css">

}


<div id="cont">
    @model MBP.CapaTransversal.ModelsMVC.NaveModel
    @using (Html.BeginForm("Catalogo", "Catalogo", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
    {
        <div id="left">
            <p>
                Lista de naves creadas
                @Html.DropDownListFor(x => x.nombreCreadas, new SelectList(ViewBag.ListaNave), new { @id = "NombreNave" })
            </p>


        </div>


        <div id="right">


            <br />
            <label>Nombre:</label>
            @Html.TextBoxFor(x => x.nombre, new { @class = "input1", @id = "NomNave" })
            <p>@ViewData["nombreNave"]</p>

            <br />
            <br>
            <label>Puntaje:    </label>
            @Html.TextBoxFor(x => x.puntaje, new { @class = "input1", @id = "PuntNave" })

            <br /><br />
            <label>Tamaño X y Y:</label>

            @Html.DropDownListFor(x => x.tamanoX, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "1"  },
                       new { value = 2 , text = "2" },
                       new { value = 3 , text = "3"},
                       new { value = 4 , text = "4"}
                    }, "value", "text", 2), new { @id = "XDat" })

            @Html.DropDownListFor(x => x.tamanoY, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "1"  },
                       new { value = 2 , text = "2" },
                       new { value = 3 , text = "3"},
                       new { value = 4 , text = "4"}
                    }, "value", "text", 2), new { @id = "YDat" })
            <br /><br />
            @HelperCF.AyudaCargarArchivos()
            <br />
            <div class="onoffswitch">
                <label>
                    Nave habilitada:
                    @Html.CheckBoxFor(x => x.estado, new { @class = "input1", @name = "onoffswitch", @id = "myonoffswitch" })
                </label>
            </div>
            <br />
            <br />
            <input type="submit" name="Crear" class="boton_base" value="Crear" />

            <br />
            <br />
            <input type="submit" name="Modificar" class="boton_base" value="Modificar" />

        </div>
    }
</div>
