@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Registro";
}

@section scripts{

    <script type="text/javascript" src="../javascripts/OcultarOpciones.js"></script>
    <script type="text/javascript" src="../javascripts/Calendar.js"></script>
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" type="text/css">

}

<div id="cont" align="center">

    @model MBP.CapaTransversal.ModelsMVC.CompositeRegModel
    @using (Html.BeginForm("Registrarse", "Registrarse", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
    {


        <div id="left">
            <p>
                Tipo:
                @Html.DropDownListFor(x => x.ModeloBase.Tipo, new SelectList(ViewBag.CategoryID, "Value", "Text"), new { @id = "TipoDeUsuario" })
            </p>

            <p>Usuario:</p>
            @Html.TextBoxFor(x => x.ModeloBase.Login, new { @class = "input1" })
            <p>Contraseña:</p>
            @Html.PasswordFor(x => x.ModeloBase.Password, new { @class = "input1" })
            <p>Repetir Contraseña:</p>
            @Html.PasswordFor(x => x.ModeloBase.PasswordConf, new { @class = "input1" })
            <p>Correo Electrónico:</p>
            @Html.TextBoxFor(x => x.ModeloBase.Email, new { @class = "input1" })
            <p>Nombre:</p>
            @Html.TextBoxFor(x => x.ModeloBase.Nombre, new { @class = "input1" })
            <p>Apellido:</p>
            @Html.TextBoxFor(x => x.ModeloBase.Apellido, new { @class = "input1" })
            <br>
            <br>


            <div class="Administrador">

                <p>País:</p>
                @Html.DropDownListFor(x => x.ModeloExt.Pais, new SelectList(ViewBag.Lista))
                <br>
                <br>

            </div>

        </div>

        <div id="right">

            <div class="Administrador">

                <p>Masculino o Femenino:</p>
                Masculino @Html.RadioButtonFor(x => x.ModeloExt.Genero, "M", new { @checked = true }) Femenino
                @Html.RadioButtonFor(x => x.ModeloExt.Genero, "F", new { @checked = true })
                <p>*Fecha de Nacimiento:</p>
                @Html.TextBoxFor(x => x.ModeloExt.FechaNacimiento, new { @class = "datepicker" })
                <br />

                <p>*Foto:</p>
                @HelperCF.AyudaCargarArchivos()
                <br>

                <div class="Jugador">
                    <p>Local:</p>
                    @Html.TextBoxFor(x => x.ModeloModerador.Local, new { @class = "input1" })
                    <br><br>

                </div>

                <div class="Moderador">
                    <p>*Descripción Personal:</p>
                    @Html.TextAreaFor(x => x.ModeloJugador.DescripcionPersonal, 5, 1, new { @class = "input2" })
                    <br>

                </div>


            </div>
            <br>
            <input type="submit" value="Registrarse" class="boton_base" />
            <br>
            <br>

        </div>

    }

</div>


